{% extends 'base.html.twig' %}

{% block title %}Page{% endblock %}

{% block body %}
    <h1>{{ page.title }}</h1>

    {{ page.text|raw }}


    <a class="btn btn-secondary" href="{{ path('app_page_index') }}"><i class="fa-solid fa-arrow-left"></i>  back to list</a>

    <a class="btn btn-warning"href="{{ path('app_page_edit', {'id': page.id}) }}"><i class="fa-solid fa-pen-to-square"></i>  edit</a>

    {{ include('page/_delete_form.html.twig') }}
{% endblock %}
