<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
            <link rel="stylesheet" href="starter-template.css">
            <link rel="stylesheet" href="style.css">
            <link rel="stylesheet" href="/css/fontawesome.css">
            <link rel="stylesheet" href="/css/solid.css">
            <link rel="stylesheet" href="brands.min.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/page/">FC-Pro</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/page/1"><i class="fa-solid fa-vihara"></i> {{ 'Home'|trans}}</a>
                  </li>

                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-regular fa-person-chalkboard"></i>  
                      {{ 'Our formations'|trans}}
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/formation/futur"><i class="fa-solid fa-calendar-days"></i>  {{ 'Formation in comming'|trans}}</a></li>
                      <li><a class="dropdown-item" href="/#"><i class="fa-solid fa-lightbulb"></i>   {{ 'Propose Fromation '|trans}}</a></li>
                      <li><a class="dropdown-item" aria-current="page" href="/formation/catalog"><i class="fa-solid fa-indent"></i>  {{ 'Catalog'|trans}}</a></li>
                    </ul>
                  </li>

                  {% if is_granted('ROLE_ADMIN') %}

                  <li class="nav-item">
                    <a class="nav-link inactive" aria-current="page" href="#">{{ 'Formation center'|trans}}</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-file"></i>  
                      {{ 'Pages'|trans}}
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/page"><i class="fa-solid fa-list"></i>  {{ 'List Pages'|trans}}</a></li>
                      <li><a class="dropdown-item" href="/page/new"><i class="fa-solid fa-plus"></i> {{ 'Create Pages'|trans}}</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-sharp fa-solid fa-graduation-cap"></i>  
                      {{ 'Formation'|trans}}
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/formation"><i class="fa-solid fa-list"></i>  {{ 'List Formation'|trans}}</a></li>
                      <li><a class="dropdown-item" href="/formation/new"><i class="fa-solid fa-plus"></i>  {{ 'Create Formation'|trans}}</a></li>
                    </ul>
                  </li>
                </ul>
                {% endif %}

                <ul class="navbar-nav align-right mb-2 mb-lg-0" >
                    {% if app.user %}
                        <li class="nav-item "><a class="nav-link text-danger" href="/logout">{{ 'Sign out'|trans}}</a></li>
                    {% else %}
                        <li class="nav-item"><a class="btn" href="/register"><i class="fa-solid fa-user-plus"></i>  {{ 'Sign up'|trans}}</a></li>
                        <li class="nav-item"><a class="btn btn-primary" href="/login"><i class="fa-solid fa-right-to-bracket"></i>  {{ 'Sign in'|trans}}</a></li>
                    {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        <div class="col-lg-12 mx-auto p-4 py-md-5">
            <main>
                {% block body %}{% endblock %}
            </main>
            <footer class="pt-5 my-5 text-muted border-top">
              Created by  Arthur & Bryan &middot; &copy;
            </footer>
          </div>
    </body>
</html> 